.css-y8ay40-MuiTableCell-root{
    border-bottom: unset !important;
}

.text-while-table-header{
    color: white !important;
    font-size: 16px !important;
    line-height: 1.2px;
    background: #00796B !important;
}

.link-room{
    margin-right: 5px !important;
}

.glo-text-center{
    text-align: center !important;
}
