
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}
.header .logo {
  display: flex;
  align-items: center;
  width: 60px;
}
.header .logo:hover {
  cursor: pointer;
}
.header .logo img {
  width: 100%;
}
.header .logo .help-text {
  font-size: 22px;
  padding-left: 4px;
  color: #18778a;
  font-weight: 600;
}
.header .action-btn {
  display: flex;
  /* align-items: center; */
}
.header .action-btn .icon-block {
  font-size: 20px;
  padding: 10px;
  color: #5f6368;
}
.header-content img{
  border-radius: 50% !important;
  width: 40px !important;
}