.prejoin {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-image: radial-gradient( circle farthest-corner at 1.3% 2.8%,  rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% );
}

.prejoin main {
    width: 100%;
}

.wapper-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 48px 16px 0 16px;
    
}

.wapper-videoSection {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    max-width: 750px;
    margin-left: 32px;
    margin-right: 32px;
}

.videoSection {
    width: 100%;
    position: relative;
}

.videoFrame {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
}

.videoFrame video {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: relative;
}

.videoSection span {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left:40%;
    z-index: 10000;
    color: white;
}

.placeholder {
    background-color: black;
    border-radius: 10px;
}

.controlMicCam {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 85%;
    left: 0%;
    width: 100%;
}

.controlMicCam button {
    outline: none;
    border: none;
    background: none;
}

.controlMicCam button:hover {
    background: unset;
}

.toggleMic {
    font-size: 18px;
    border: none;
    outline: none;
    background: none;
    color: white;
}

.toggleCamera {
    font-size: 18px;
    border: none;
    outline: none;
    background: none;
    color: white;
}

/* ----------------------- controll join ------------------------- */
.wapper-participant {
    height: 100%;
    width: 100%;
    margin-top: 4%;
    /* padding-left: 48px; */
}

.wapper-participant h3 {
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wapper-participant span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.join-section span {
    font-size: 24px;
    font-weight: 600;
}

.show-participants span {
    font-size: 18px;
}

.view-participant {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.join-participant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    width: 100%;
}

.view-participant span{
    margin: 8px 8px 0 8px;
    text-align: center;
    font-weight: 500;
}

.view-participant img {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.join-room {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.join-room button {
    width: 150px;
    height: 40px;
    background: #00796b;
    color: white;
    border-radius: 24px;
    border: none;
    outline: none;
}

.join-room button:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.hold-join{
    text-align: center;
    margin-top: 8px;
    display: none;
}

.hold-join span {
    font-size: 18px;
    font-weight: normal;
}

.reject{
    text-align: center;
    margin-top: 8px;
    display: none;
}

.text-audio {
    display: none;
}

.text-video {
    display: none;
}



/* --------------------- responsive ------------------------------ */

@media only screen and (min-width: 23.4375em) and (max-width:37.5em){
    .wapper-participant h3{
        font-size: 20px;
    }

    .controlMicCam {
        top: 80%;
        left: 0%;
    }

    .controlMicCam button {
        font-size: 16px;
        padding: 6px 8px 0 8px;
    }

    .wapper-participant {
        padding-left: 0;
    }

    .videoSection span {
        font-size: 14px;
        left: 37%;
    }

    .wapper-participant {
        margin-top: 10%;
    }
}

@media only screen and (min-width: 37.5625em) and (max-width:46.25em){
    .wapper-participant h3{
        font-size: 24px;
    }

    .controlMicCam {
        top: 80%;
        left: 0%;
    }

    .videoSection span {
        left: 39%;
    }

    .wapper-participant {
        padding-left: 0;
    }
}

@media only screen and (min-width:80em) and (max-width: 87.5em){
    .wapper-content {
        flex-direction: row;
        margin: 14% 0 5% 5%;
    }

    .wapper-videoSection {
        width: 100%;
    }

    .wapper-participant {
        padding-left: 0;
    }

    .videoSection span {
        left: 38%;
    }
}

@media only screen and (min-width: 87.5625em) {
    .wapper-content {
        flex-direction: row;
        margin: 10% 0 0 5%;
    }

    .wapper-videoSection {
        width: 100%;
    }   
}

@media only screen and (min-width: 87.5625em) and (max-height: 45em) {
    .wapper-content {
        flex-direction: row;
        margin: 5% 0 0 5%;
    }
}

@media (max-height: 45em) {
    .wapper-participant {
        margin-top: 2%;
}
}
