.prejoin {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
}

.prejoin main {
    width: 100%;
}

.wapper-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    flex-direction: column;
}

.wapper-videoSection {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 800px;
}

.videoSection {
    width: 100%;
    height: 450px;
    position: relative;
}

.videoFrame {
    display: inline-flex;
    flex-direction: column;
    max-width: calc(800px + 24px);
}

.videoFrame video {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: relative;
}

.videoInvisible {
    background-color: black;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: relative;
}

.controlMicCam {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90%;
    left: 35%;
}

.videoSection .placeholder {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #2F2F2F;
}

.toggleMic {
    font-size: 18px;
    border: none;
    outline: none;
    background: none;
    color: white;
}

.toggleCamera {
    font-size: 18px;
    border: none;
    outline: none;
    background: none;
    color: white;
}

.wapper-participant {
    height: 100%;
    width: 40%;
    margin-top: 4%;
    padding-left: 48px;
}
.wapper-participant h3 {
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wapper-participant span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.view-participant {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.join-participant {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    width: 120px;
}
.view-participant span{
    margin: 8px 8px 0 8px;
    text-align: center;
    font-weight: 500;
}
.view-participant img {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.join-room {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}
.join-room button {
    width: 150px;
    height: 40px;
    background: #1a73e8;
    color: white;
    border-radius: 24px;
    border: none;
    outline: none;
}
.join-room button:hover {
    transform: scale(1.01);
    cursor: pointer;
}
.hold-join h3{
    text-align: center;
    margin-top: 8px;
    display: none;
}

.videoFrame {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 375px) and (max-width:500px){
    
};

@media screen and (min-width: 501px) and (max-width:707px){
    
};

@media screen and (min-width:708px) and (max-width: 1024px) {
    
}