.prejoin {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0;
}

.prejoin main {
    width: 100%;
}

.wapper-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5% 16px 0 16px;
}

.wapper-videoSection {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    max-width: 800px;
    margin-left: 32px;
    margin-right: 32px;
}

.videoSection {
    width: 100%;
    position: relative;
}

.videoFrame {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
}

.videoFrame video {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: relative;
}

.videoSection span {
    position: absolute;
    top: 50%;
    left:40%;
    z-index: 10000;
    color: white;
}

.videoSection h3 {
    position: absolute;
    top: 10%;
    left: 40%;
    z-index: 10000;
    color: white;
}

.placeholder {
    background-color: black;
    border-radius: 10px;
}

.controlMicCam {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 85%;
    left: 0%;
    width: 100%;
}

.controlMicCam button {
    outline: none;
    border: none;
    background: none;
}

.controlMicCam button:hover {
    background: unset;
}

.toggleMic {
    font-size: 18px;
    border: none;
    outline: none;
    background: none;
    color: white;
}

.toggleCamera {
    font-size: 18px;
    border: none;
    outline: none;
    background: none;
    color: white;
}

/* ----------------------- controll join ------------------------- */
.wapper-participant {
    height: 100%;
    width: 100%;
    margin-top: 4%;
    padding-left: 48px;
}

.wapper-participant h3 {
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wapper-participant span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.view-participant {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.join-participant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    width: 100%;
}

.view-participant span{
    margin: 8px 8px 0 8px;
    text-align: center;
    font-weight: 500;
}

.view-participant img {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.join-room {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.join-room button {
    width: 150px;
    height: 40px;
    background: #1a73e8;
    color: white;
    border-radius: 24px;
    border: none;
    outline: none;
}

.join-room button:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.hold-join{
    text-align: center;
    margin-top: 8px;
    display: none;
}

.reject{
    text-align: center;
    margin-top: 8px;
    display: none;
}

.text-audio {
    display: none;
}

.text-video {
    display: none;
}

/* --------------------- hover-btn ------------------------------ */

@media only screen and (min-width: 375px) and (max-width:600px){
    .wapper-participant h3{
        font-size: 20px;
    }
    .controlMicCam {
        top: 82%;
        left: 0%;
    }

    .controlMicCam button {
        padding: 6px 8px 6px 8px;
    }
    .wapper-participant {
        padding-left: 0;
    }

    .videoSection h3 {
        left: 35%;
    }

    .videoSection span {
        left: 35%;
    }
}

@media only screen and (min-width: 601px) and (max-width:740px){
    .wapper-participant h3{
        font-size: 24px;
    }
    .wapper-participant {
        padding-left: 0;
    }
}

@media only screen and (min-width:1280px){
    .wapper-content {
        flex-direction: row;
        margin: 10% 0 5% 5%;
    }
    .wapper-participant {
        padding-left: 0;
    }
}
