body{
    margin: 0px auto;
}

.stop-room{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loading {
    display: flex;
    position: absolute;
    top: 16px;
    left: 20px;
}

.value {
    font-size: 14px;
}

.loading span { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.nofify {
    margin-top: 5%;
    text-align: center;
}

.glo-btn{
    display: inline-flex;
}

.btn-rejoin{
    background: white;
    color: #00796B;
    border: 1px solid #00796B;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    margin-right: 10px;
}

.btn-return{
    display: block;
    background: #00796B;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
}
