.frameUsers {
    height: 100%;
    background: #fff;
    width: 360px;
    border-radius:8px;
    border-left: 1px solid #f1f3f4;
}

.frameUsers .inputFindUser {
    display: flex;
    margin: 0 12px;
    border: 2px solid #c3c8cd;
    border-radius: 4px;
}

.frameUsers .inputFindUser:focus-within {
    border: 2px solid rgb(24 105 213);
}
.frameUsers .inputFindUser .iconSearch {
    padding: 12px;
    color: #b5b7b9;
}

.frameUsers .inputFindUser input {
    border: 0px;
}

.frameUsers .inputFindUser input:focus {
    outline: none;
}

.frameUsers .headerListUser {
    margin: 18px 0 0 18px;
}

.frameUsers .listUser {
    display: flex;
    flex-direction: column;
    padding: 18px 12px 12px 12px;
    overflow-y: auto;
}

.frameUsers .listUser .infoUsers {
    display: flex;
    flex-direction: row;
}

.frameUsers .listUser .infoUsers .avatarUser img {
    width: 40px;
    border-radius: 20px;
}

.frameUsers .listUser .infoUsers .bodyInfo {
    margin-left: 16px;
    width: calc(100% - 76px);
    align-self: center;
}

.frameUsers .listUser .infoUsers .bodyInfo .description {
    font-size: 12px;
    color: #6f7478;
}

.frameUsers .listUser .infoUsers .infoIcon{
    width: 20px;
    align-self: center;
}